@mixin dayWithDot($modifier, $ofColor) {
  &:not(.DayPicker-Day--outside) {
    position: relative;

    &:#{$modifier} {
      background: $ofColor;
      content: "";

      display: block;
      height: .4rem;
      width: .4rem;
      overflow: hidden;

      position: absolute;
      right: .1rem;
      top: 40%;

      @if ($modifier == 'after') {
        transform: translateY(-51%);
      } @else {
        transform: translateY(51%);
      }
    }
  }
}

@mixin scheduleFormDateRow($color) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > :last-child {
    margin-left: .5rem;
  }
  > :first-child {
    flex: 1;
    color: $color;
  }
}

@mixin pane {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;

  .paneBody {
    flex: 1;
    overflow-y: auto;
  }
}

@mixin sidebar {
  @include pane;
  flex: 1;
}
