@import "~@blueprintjs/core/lib/scss/variables";
@import './mixins';


$pubColorLight: #3DCC91;
$pubColorDark: #0F9960;
$cutColorLight: #FFB366;
$cutColorDark: #D9822B;


:local .issueScheduler {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  .calendarPane {
    @include pane;

    width: 280px;
    background: $pt-app-background-color;
    flex: 0;

    .paneBody {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem 2rem 2rem;
    }

    .daySchedule {
      align-self: stretch;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;

      .dayScheduleHeader {
        margin-bottom: 1rem;
      }
    }
  }

  .selectedDayPane {
    @include rightPane;

    .paneBody {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 20px 20px 20px;
    }
  }

  .upcomingIssuesPane {
    @include rightPane;

    .paneBody {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      padding: 0;
    }
  }
}


:local .scheduleForm {
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .scheduleFormPublicationDate {
    @include scheduleFormDateRow($pubColorDark);
  }

  .scheduleFormCutoffDate {
    @include scheduleFormDateRow($cutColorDark);
  }

  .scheduleFormActions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    > * {
      flex: 1;
    }
  }
}


:local .editDateButton {
  &:focus {
    outline: none !important;
  }
}


.DayPicker-Day--isPublicationDate {
  @include dayWithDot(before, $pubColorDark);
}
.DayPicker-Day--isCutoffDate {
  @include dayWithDot(after, $cutColorDark);
}
.DayPicker-Day--isNewPublicationDate {
  background: $pubColorLight !important;
}
.DayPicker-Day--isNewCutoffDate {
  background: $cutColorLight !important;
}


/* Upcoming issues list */

:local .upcomingIssues {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 7.5em;
}


:global .issueScheduleCardTransition {
  // NOTE: Must match ITEM_ENTRY_EXIT_TRANSITION_DURATION_MS in issue-scheduler/upcoming component
  // TODO: Pass that value here, DRY
  $duration: 500ms;

  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity $duration ease-in !important;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity $duration ease-in !important;
  }
}


:local .issueScheduleCard {
  border-radius: 0 !important;
  cursor: pointer;

  .headerLabel {
    position: relative;

    &::after {
      transition: content .2s linear, color .2s linear;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      content: unset;
      font-size: .7rem;
      text-transform: uppercase;
      font-weight: normal;
    }
  }

  &:hover {
    .headerLabel {
      color: $pt-link-color;
      &::after {
        content: "click to open" !important;
        color: $pt-link-color;
      }
    }
  }
}


:local .pastIssueCard {
  .headerLabel::after {
    content: "published" !important;
    color: $pubColorDark;
  }
}


:local .scheduleInfo {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  justify-content: space-between;

  > * {
    flex: 0;
  }

  .cutoffDate, .publicationDate {
    > :first-child {
      margin-right: .5rem;
      transform: scale(.8);
    }
  }

  .cutoffDate {
    > :first-child {
      color: $cutColorDark;
    }
  }

  .publicationDate {
    > :first-child {
      color: $pubColorDark;
    }
  }
}

:local .pubDateLabel {
  color: $pubColorDark;
}

:local .cutDateLabel {
  color: $cutColorDark;
}
