@import "~@blueprintjs/core/lib/scss/variables";

:local .addCardTriggerContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 4;

  &:hover {
    cursor: pointer;
  }

  .addCardTrigger {
    border-radius: 100% !important;
    background: white !important;

    transform: scale(0.6);

    &:hover {
      transform: scale(0.8);
    }
  }

  // Hack to preserve external class name
  :global .bp3-active {
    transform: scale(1) !important;
  }
}

:local .editableCard {
  -webkit-app-region: no-drag;

  border-radius: 0 !important;
  flex: 1;

  height: $pt-navbar-height;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;
  padding: 0 20px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local .editableCardSelectable {
  &:hover {
    cursor: pointer;
  }
}

:local .editableCardDeletable {
  $deleteButtonW: 4em;

  padding-right: $deleteButtonW + .5em !important;

  .editableCardDeleteButton {
    height: $pt-navbar-height;
    width: $deleteButtonW;

    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 .5em !important;
  }
}

:local .editableCardExtended {
  height: unset;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

:local .editableCardSelected {
  background: $light-gray2 !important;
}
