.issueSectionHeader {
  background: grey;
  color: white;
  padding: .5em 20px;
  margin: 0;
  font-size: 120%;
}

.message {
  display: flex;
  flex-flow: row nowrap;

  .messageHeader {
    width: 10rem;
    margin-right: 2em;
  }

  .messageBody {
  }
}
