@use "~@blueprintjs/core/lib/scss/variables" as *;

:local .dbInitializationOverlay {
  background: $pt-app-background-color;
}

:local .homeWindow {
  $sidebarSide: 5rem;

  height: 100vh;
  display: flex;
  flex-flow: row-reverse nowrap;

  .logo {
    width: $sidebarSide - 2rem;
    height: $sidebarSide - 2rem;
  }

  // Object browser
  > :first-child {
    flex: 1;
  }

  .dataBarButtonWithTooltip {
    display: block;
    width: $sidebarSide - 2rem;
    height: $sidebarSide - 2rem;
    margin: 0 1rem 0 1rem;

    :global .bp3-button {
      width: $sidebarSide - 2rem;
      height: $sidebarSide - 2rem;
      padding: 0 !important;

      border-radius: 100% !important;
    }
  }

  .dataBar {
    -webkit-app-region: drag;

    width: $sidebarSide;
    flex-shrink: 0;
    flex-grow: 0;
    box-shadow: $pt-elevation-shadow-1;
    z-index: 2;
    background: $pt-app-background-color;

    display: flex;
    flex-flow: column nowrap;

    .contentTypes {
      padding-top: $pt-grid-size;
      flex: 1;

      > * {
        @extend .dataBarButtonWithTooltip;
        margin-bottom: $pt-grid-size;
      }
    }

    .selectedCType {
      color: $pt-text-color !important;
      background: $light-gray2 !important;
    }

    .status {
      width: $sidebarSide;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .dataBarButtonWithTooltip {
        margin-bottom: $pt-grid-size;
      }

      .storageStatusIcon {
        width: $sidebarSide;
        height: $sidebarSide;
      }
    }
  }
}
