body {
  font-family: sans-serif;
}

:local .homeMenuContainer {
  $draggableRegionHeight: 3em;

  height: 100%;
  padding-top: $draggableRegionHeight !important;

  &:before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: $draggableRegionHeight;
    -webkit-app-region: drag;
  }
}

:local .mainButtonGroup {
  :global .bp3-button {
    justify-content: flex-start;
    padding-left: 2rem !important;
  }
}
