@import "~@blueprintjs/core/lib/scss/variables";

@mixin card {
  border-radius: 0 !important;
  overflow: hidden;
}

.dataSyncBase {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.dataSyncRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  > * {
    flex: 1;
  }
  > :first-child {
    margin-right: 1rem;
  }
}

.repoUrlCard {
  @include card;

  > :first-child {
    flex: 1;
  }
}

.repoConfigCollapsible {
  :global .bp3-collapse-body > * {
    background: $pt-app-background-color;
  }
}

.repoAuthCard, .committerInfoCard {
  @include card;
}

.committerInfoCard, .commitCard {
  > :first-child {
    color: $pt-text-color-muted;
  }
}

.commitCard {
  @include card;
  overflow: unset;

  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  .formGroup {
    align-self: stretch;
    flex: 1;
    flex-shrink: 0;

    :global .bp3-form-content {
      flex: 1;
      flex-shrink: 0;
      textarea {
        min-height: 100%;
      }
    }
  }

  .syncButton {
    align-self: flex-end;
  }
}

.resultCard {
  @include card;
  background: $pt-app-background-color !important;
}
