@use "@blueprintjs/core/lib/scss/variables" as bp;
@use "../mixins.scss" as mixins;

$sidebarWidth: 17em;

:local .twoPaneEditor {
  @include mixins.twoPaneWindowLayout($sidebarWidth);
}

:local .messageListPane {
  overflow-y: hidden;

  background: bp.$pt-app-background-color;
  position: relative;

  display: flex;
  flex-flow: column nowrap;

  cursor: default;
}

:local .selectedMessagePane {
  box-shadow: bp.$pt-elevation-shadow-1;
  position: relative;
  z-index: 2;
  overflow-y: auto;
}

:local .newItemMenu {
  max-width: calc(100vw - #{$sidebarWidth} - 10px);
}

:local .messageEditorDialog {
  max-height: 90vh;

  :global .bp3-label:last-child,
  :global .bp3-form-group:last-child {
    margin-bottom: 0;
  }

  :global .bp3-dialog-body {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: hidden;
  }
}

:local .messageEditorTabs {
  :global .bp3-tab-list {
    margin: 0 1rem;
    transform: translateY(0.5rem);
  }
}

:local .editorMeta {
  flex-shrink: 0;
  padding-left: 20px;
  padding-bottom: 1rem;

  display: flex;
  flex-flow: column nowrap;

  font-size: bp.$pt-font-size-small;
  color: bp.$pt-text-color-muted;

  > * {
    display: block;
  }
}

/* Message type specific editors */

.editor-pane-message-approved_recommendations,
.editor-pane-message-amendment,
.editor-pane-annex {
  :local .messageEditorPaneHeader {
    box-shadow: bp.$pt-elevation-shadow-1;
    z-index: 2;
  }
}

.editor-pane-annex,
.editor-pane-message-amendment {
  :local .editorMeta {
    > :last-child {
      margin-top: 0.5rem;
      font-size: bp.$pt-font-size-large;
    }
  }
}

/* Annex */

.editor-pane-annex {
  display: flex;
  flex-flow: column nowrap;
}

/* Approved recommendations */

:local .approvedRecsMeta {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  border-radius: 0 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;

  > :first-child {
    margin-right: 1rem;
  }

  :global .bp3-label {
    white-space: nowrap;
  }
  :global .bp3-input {
    border-radius: 0 !important;
  }

  > * {
    flex: 1;
  }
}

/* Amendment & custom messages */

.editor-pane-message-amendment,
.editor-pane-message-callback_procedures,
.editor-pane-message-iptn,
.editor-pane-message-sanc,
.editor-pane-message-ipns,
.editor-pane-message-org_changes,
.editor-pane-message-mid,
.editor-pane-message-misc_communications,
.editor-pane-message-custom {
  display: flex;
  flex-flow: column nowrap;

  :local .messageEditorPaneHeader {
    flex-shrink: 0;
  }

  :local .freeformEditor {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

/* Telephone service */

@mixin tsAddItemTrigger() {
  border-radius: 0 !important;
}

:local .addCommTrigger {
  @include tsAddItemTrigger();
}

:local .addCountryTrigger {
  @include tsAddItemTrigger();
  width: 100%;
}

:local .tsCountryCommunicationSet {
  border-radius: 0 !important;
}

:local .tsCountryCommunicationEditor {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;

  > :first-child {
    margin-right: 1rem;
  }
}

:local .tsCommunication {
  color: red;
  border-radius: 0 !important;
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

:local .tsCountryButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

:local .tsCommunicationFormContents {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

:local .openCommButton {
  flex: 1;
  justify-content: flex-start !important;
  margin-right: 1rem;
}

:local .deleteCommButton {
  filter: grayscale(100%);
  opacity: 0.4;
  &:hover {
    filter: none;
    opacity: 1;
  }
}
