@use "@blueprintjs/core/lib/scss/variables" as bp;
@use "../../mixins.scss" as mixins;

:local .datasets {
  @include mixins.datasets();

  box-shadow: bp.$pt-elevation-shadow-1;
  z-index: 1;
}

:local .normalizedAmendment {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  flex: 1;

  > :first-child {
    flex-shrink: 0;
    min-height: 50vh;
    max-height: 50vh;
    height: 50vh;
  }

  > :last-child {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
  }
}

:local .changeMessageTabs {
  :global .bp3-tab-list {
    transform: translateX(bp.$pt-grid-size * 2) translateY(bp.$pt-grid-size);
  }
}

:local .changeMessageTab {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

:local .changeTab {
  padding: bp.$pt-grid-size;
  overflow-y: auto;
}
