@import "~@blueprintjs/core/lib/scss/variables";
@import "renderer/mixins.scss";

$sidebarWidth: 17em;

:local .pubEditorWindow {
  @include twoPaneWindowLayout($sidebarWidth);

  .windowBody {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    > * {
      flex: 1;
    }
  }

  .windowBody {
    flex: 1;
    overflow-y: auto;
  }
}

:local .navSidebar {
  overflow-y: hidden;

  background: $pt-app-background-color;
  position: relative;

  display: flex;
  flex-flow: column nowrap;

  cursor: default;
}