@import "~@blueprintjs/core/lib/scss/variables";
@import "renderer/mixins.scss";

$sidebarWidth: 17em;

:local .pubEditorWindow {
  @include twoPaneWindowLayout($sidebarWidth);

  .windowBody {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    box-shadow: $pt-elevation-shadow-1;
    z-index: 2;
    flex: 1;
    overflow-y: auto;
  }
}

:local .navSidebar {
  overflow-y: hidden;

  background: $pt-app-background-color;
  position: relative;

  display: flex;
  flex-flow: column nowrap;

  cursor: default;
}


:local .publicationMetaEditor {
  padding: $pt-grid-size * 2;
}


// Datasets

:local .datasetSpecEditor {
  .datasetBasics {
    padding: $pt-grid-size * 2;
  }
}

:local .datasetFieldSortable {
  border-bottom: 1px $pt-divider-black solid;
}

:local .datasetField {
  padding: $pt-grid-size 0;
  margin-bottom: 3px;

  :local .datasetFieldBasics:only-child {
    margin-bottom: 0;
  }
}

:local .datasetType {
  margin-bottom: $pt-grid-size;
}

:local .datasetNewField {
  padding: $pt-grid-size;
}