@import "~@blueprintjs/core/lib/scss/variables";

:local .pubEditorWindow {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background: $pt-app-background-color;

  .windowHeader {
    flex-shrink: 0;
    align-items: center;
    display: flex;
  }

  .windowBody {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    > * {
      flex: 1;
    }
  }

  .windowBody {
    flex: 1;
    overflow-y: auto;
  }
}
