@use "sass:math";
@use "~@blueprintjs/core/lib/scss/variables" as bp;
@use "renderer/mixins.scss" as mixins;

:local .editPositionToggle {
  vertical-align: baseline;
}

:local .editPositionForm {
  flex: 1;
  font-size: bp.$pt-font-size-small;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin-bottom: 0;

  :global .bp3-datepicker,
  :global .bp3-form-helper-text {
    margin-top: 1rem;
  }

  :global .bp3-datepicker {
    padding: 1.5rem;
    background: bp.$pt-app-background-color;
  }
}

:local .datasets {
  @include mixins.datasets();
}

:local .datasetContentsTableWrapper {
  display: block;
  flex: 1;
  overflow: hidden;
  padding: bp.$pt-grid-size;
}

:local .datasetContents {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  .datasetContentsTable {
    z-index: 0;
  }

  .toolbar {
    padding: bp.$pt-grid-size;
    background: bp.$pt-app-background-color;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1;
  }
  .datasetContentsCell {
    padding: math.div(bp.$pt-grid-size, 2) bp.$pt-grid-size;
    white-space: nowrap;

    .unsupportedField {
      color: bp.$pt-text-color-disabled;
    }

    overflow: hidden;
    transform: translateY(1px) translateX(1px);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: white;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    cursor: default;
    font-size: bp.$pt-font-size-small;

    position: relative;

    .translatedTextInput {
      border: 0;
    }

    &.inSelectedRow {
      background-color: bp.$pt-app-background-color;
    }
    &.selected {
      background-color: bp.$pt-text-selection-color;
    }
    &.rowHeader {
      opacity: 0.5;

      &.inSelectedRow {
        opacity: 1;
        background-color: bp.$pt-divider-black;
      }
    }
    &.columnHeader,
    &.rowHeader {
      font-weight: bold;
      background-color: bp.$pt-divider-black;

      &.selected {
        background-color: bp.$pt-text-selection-color;
      }
    }
  }
}
