@import "~@blueprintjs/core/lib/scss/variables";
@import "renderer/mixins.scss";


:local .editPositionToggle {
  vertical-align: baseline;
}


:local .editPositionForm {
  flex: 1;
  font-size: $pt-font-size-small;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin-bottom: 0;

  :global .bp3-datepicker,
  :global .bp3-form-helper-text {
    margin-top: 1rem;
  }

  :global .bp3-datepicker {
    padding: 1.5rem;
    background: $pt-app-background-color;
  }
}


:local .datasets {
  @include datasets();
}

:local .datasetContentsTableWrapper {
  display: block;
  flex: 1;
  overflow: hidden;
}

:local .datasetContents {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  .datasetContentsTable {
    z-index: 0;
  }

  .toolbar {
    padding: $pt-grid-size;
    background: $pt-app-background-color;
    box-shadow: $pt-elevation-shadow-1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1;
  }
  .datasetContentsCell {
    padding: ($pt-grid-size / 2) $pt-grid-size;
    white-space: nowrap;

    .unsupportedField {
      color: $pt-text-color-disabled;
    }

    overflow: hidden;
    transform: translateY(2px) translateX(1px);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: white;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    cursor: default;
    font-size: $pt-font-size-small;

    position: relative;

    &.inSelectedRow {
      background-color: $pt-app-background-color;
    }
    &.selected {
      background-color: $pt-text-selection-color;
    }
    &.rowHeader {
      opacity: .5;

      &.inSelectedRow {
        opacity: 1;
        background-color: $pt-divider-black;
      }
    }
    &.columnHeader,
    &.rowHeader {
      font-weight: bold;
      background-color: $pt-divider-black;

      &.selected {
        background-color: $pt-text-selection-color;
      }
    }
  }
}