@use "sass:math";
@use "~@blueprintjs/core/lib/scss/variables" as bp;

:local .sortable {
  position: relative;
  padding-left: bp.$pt-grid-size * 3;
}

:local .sortableDragHandle {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: bp.$pt-grid-size * 2;

  padding: math.div(bp.$pt-grid-size, 2);

  background-color: bp.$pt-app-background-color;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  cursor: move;

  svg {
    transform: scaleX(0.5);
    transform-origin: left center;
    path {
      fill: bp.$pt-text-color-disabled;
    }
  }
}

:local .sortableDragged {
  cursor: move;
}

:local .sortableOver {
  opacity: 0.5;
}
