@use "@blueprintjs/core/lib/scss/variables" as bp;

@mixin pane {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;

  .paneBody {
    flex: 1;
    overflow-y: auto;
  }
}

@mixin datasets() {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  overflow: hidden;

  .mainPane {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
  }

  .navigation {
    width: 12rem;
    box-shadow: bp.$pt-elevation-shadow-1;
    background: bp.$pt-app-background-color;
    z-index: 1;
  }
}

@mixin twoPaneWindowLayout($leftPaneWidth) {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

  > * {
    flex: 1;
  }
  > :first-child {
    flex: unset;
    width: $leftPaneWidth;
  }
}

@mixin objectEditorPaneHeader {
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 5;
  font-size: bp.$pt-font-size-small;

  :global .bp3-text-overflow-ellipsis {
    display: flex;
    align-items: center;
  }

  :global .object-id {
    color: bp.$pt-intent-primary;
    margin-left: 0.1rem;
    font-size: bp.$pt-font-size-large;
  }
}
