@import "~@blueprintjs/core/lib/scss/variables";

@mixin datasets() {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  overflow: hidden;

  .mainPane {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
  }

  .navigation {
    width: 12rem;
    box-shadow: $pt-elevation-shadow-1;
    background: $pt-app-background-color;
    z-index: 1;
  }
}

:local .paneBody {
  overflow-y: auto;
  flex: 1;
  position: relative;
  padding-bottom: 3rem;
}

@mixin twoPaneWindowLayout($leftPaneWidth) {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

  > * {
    flex: 1;
  }
  > :first-child {
    flex: unset;
    width: $leftPaneWidth;
  }
}

@mixin objectEditorPaneHeader {
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 5;
  font-size: $pt-font-size-small;

  :global .bp3-text-overflow-ellipsis {
    display: flex;
    align-items: center;
  }

  :global .object-id {
    color: $pt-intent-primary;
    margin-left: .1rem;
    font-size: $pt-font-size-large;
  }
}
