@import "~normalize.css";

body, html {
  height: 100%;
}
:local .app {
  height: 100%;
}

html.platform--win32::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  display: block;
  z-index: 40;
  background-color: silver;
}

.bp3-button {
  cursor: default !important;

  &:focus {
    outline: none;
  }
}

.bp3-tab {
  cursor: default !important;
}

.bp3-menu-item {
  cursor: default;
  &, .bp3-menu &.bp3-disabled {
    cursor: default !important;
  }
}
