@import "~@blueprintjs/core/lib/scss/variables";

// General sortables

:local .sortable {
  position: relative;

  .sortableDragHandle {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: $pt-grid-size * 2;

    padding: $pt-grid-size / 2;

    background-color: $pt-app-background-color;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    cursor: move;

    svg {
      transform: scaleX(0.5);
      transform-origin: left center;
      path {
        fill: $pt-text-color-disabled;
      }
    }
  }

  &.sortableDragged {
    cursor: move;
  }
}


:local .sortableOver {
  opacity: .5;
}

// Meta panes

:local .metaIDPane,
:local .metaDeleteIssuePane,
:local .metaLanguagesPane,
:local .metaSchedulePane {
  padding: $pt-grid-size * 2;
}

:local .metaNewAuthor {
  margin: $pt-grid-size;
}

:local .metaSchedulePane {
  display: flex;
  flex-flow: row wrap;
  > * {
    margin-right: $pt-grid-size;
  }
}

:local .metaScheduleCalendar {
  background: $pt-app-background-color;
  display: inline-block;
}

:local .metaAuthorItem {
  padding-left: $pt-grid-size * 4;
  padding-right: $pt-grid-size * 3;
  padding-bottom: $pt-grid-size;
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px $pt-divider-black solid;

  .metaAuthorItemTitle {
    margin-left: -$pt-grid-size * 2;
    margin-bottom: $pt-grid-size;
  }
}

:local .metaAuthorContactHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

:local .metaAuthorContactItem,
:local .metaAuthorContacts .metaNewItem {
  background: $pt-app-background-color;
  padding: $pt-grid-size;
  padding-right: $pt-grid-size * 4;
  margin-bottom: 2px;
}

:local .metaAuthorContactItem {
  :global .bp3-form-group {
    margin-bottom: 0;
  }
  .sortableDragHandle {
    left: unset;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

:local .metaAuthorAddressTextarea {
  width: 100%;
}
