@use "~@blueprintjs/core/lib/scss/variables" as bp;

:local .metaIDPane,
:local .metaDeleteIssuePane,
:local .metaLanguagesPane,
:local .metaSchedulePane {
  padding: bp.$pt-grid-size * 2;
}

:local .metaSchedulePane {
  display: flex;
  flex-flow: row wrap;
  > * {
    margin-right: bp.$pt-grid-size;
  }
}

:local .metaScheduleCalendar {
  background: bp.$pt-app-background-color;
  display: inline-block;
}

// Authors

:local .metaNewAuthor {
  margin: bp.$pt-grid-size;
}

:local .metaAuthorItem {
  padding-right: bp.$pt-grid-size * 2;
  padding-bottom: bp.$pt-grid-size;
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px bp.$pt-divider-black solid;

  .metaAuthorItemTitle {
    margin-left: bp.$pt-grid-size * 2;
    margin-bottom: bp.$pt-grid-size;
  }
}

:local .metaAuthorContactHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

:local .metaAuthorContactItem,
:local .metaAuthorContacts .metaNewItem {
  background: bp.$pt-app-background-color;
  padding: bp.$pt-grid-size;
  padding-right: bp.$pt-grid-size * 4;
  margin-bottom: 2px;
}

:local .metaAuthorContactItem {
  :global .bp3-form-group {
    margin-bottom: 0;
  }
}

:local .sortableContactDragHandle {
  left: unset;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

:local .metaAuthorAddressTextarea {
  width: 100%;
}
