@import "~@blueprintjs/core/lib/scss/variables";

.datePickerContainer {
  display: flex;
  flex-flow: column nowrap;

  > * {
    flex: 1;
  }
}

.issueScheduler {
  $draggableRegionHeight: 3em;

  background: $pt-app-background-color !important;
  height: 100%;

  padding-top: $draggableRegionHeight !important;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 7.5em;

  &:before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: $draggableRegionHeight;
    -webkit-app-region: drag;
  }
}

.issueScheduleCard {
  border-radius: 0 !important;

  &:hover {
    position: relative;
    z-index: 1;
  }
}

.pastIssueCard {
  opacity: 0.5;
}

.newIssueScheduleButton {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  button {
    width: 100%;
    border-radius: 0;
    box-shadow: none !important;
  }
}

.scheduleInfo {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1;
    white-space: nowrap;

    &:first-child {
      margin-right: 1em;
    }
  }
}
